.feedback {
  &__form {
    &__control {
      display: flex;
      flex-direction: column;
      padding: $padding-default;

      &__label {
        padding-bottom: $padding-default;
      }
    }
  }
}
